* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: JetBrains Mono, Arial, Helvetica, sans-serif, sans-serif;
}

body {
    margin: 100px;
    font-family: JetBrains Mono, Arial, Helvetica, sans-serif, sans-serif;
}

.title {
    font-size: 2rem;
    color: black;
    text-align: center;
    margin: 1rem 0rem;
    line-height: 1.5;
    font-weight: bold;
}

.block {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 25px;
    border: 2px solid black;

    background-color: white;
}

p {

    margin: 20px;

    font-size: 1.2rem;
    font-weight: 500;
    color: black;


    word-wrap: normal;
}

.imp_title {
    font-size: 1.5rem;
}